html {
    overflow-y: scroll;
}

#page-container {
    position: relative;
    min-height: 98vh;
    max-width: 1366px;
    margin-right:auto;
    margin-left:auto;
}
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
    height: 2.5rem;            /* Footer height */
    /*flex-shrink: 0;*/
    /*bottom: 0;*/
    margin-top: -2.5rem;
    text-align: right;
    vertical-align: middle;
    background-color: #3F3D42;
    color: #F7931E;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2.5rem;            /* header height */
}

/* Navigation Background */
.topMenu {
    position: relative;
    height: 2.5rem;
    background-color: #3F3D42;
    overflow: hidden;
}

/* Navigation Style*/
.topMenu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Button Hover */
.topMenu a:hover {
    background-color: white;
    color: black;
}

/* Button Active */
.topMenu a.active {
    background-color: white;
    color: black;
}

/* Centered */
.topMenu_center a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right-aligned */
.topMenu_right {
    float: right;
}

/* Mobile Navigation Init */
.mobile_Menu, #mobile_Menu_toggle, .hamburger{
  display: none;
}

/* Responsive Navigation for Mobile*/
@media screen and (max-width: 830px) {  
    
    .mobile_Menu {
        display: flex;
        align-items: center;
        padding: .5rem;
        height: 2.5rem;
        background: #3F3D42;
    }
    
    .topMenu {
        padding: .5rem;
        background: #3F3D42;
        position: fixed;
        flex: 1;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }  
    
    .topMenu a, .topMenu_right, .topMenu_center {
        display: none;
    }
    
    .hamburger {
        display: flex;
        position: relative;
        top: 0;
        right: 0;
        transform: none;
    }
    
    #mobile_Menu_toggle:checked ~ .topMenu_center  {
        display: flex;
        flex-direction: column;
    }
    #mobile_Menu_toggle:checked ~ .topMenu a, .topMenu_right  {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    /*
    .topMenu a, .topMenu_right {
        float: none;
        display: block;
    }
    
    .topMenu_center a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    */
}


