html {
    overflow-y: scroll;
}

#page-container {
    position: relative;
    min-height: 98vh;
    max-width:1366px;
    margin-right:auto;
    margin-left:auto;
}
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
    height: 2.5rem;            /* Footer height */
    flex-shrink: 0;
    bottom: 0;
    margin-top: -2.5rem;
    text-align: right;
    vertical-align: middle;
    background-color: #3F3D42;
    color: #F7931E;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2.5rem;            /* header height */
}

/* Add a black background color to the top navigation */
.topMenu {
    position: relative;
    background-color: #3F3D42;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topMenu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topMenu a:hover {
    background-color: white;
    color: black;
}

/* Add a color to the active/current link */
.topMenu a.active {
    background-color: white;
    color: black;
}

/* Centered section inside the top navigation */
.topMenu_center a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topMenu_right {
    float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .topMenu a, .topMenu_right {
        float: none;
        display: block;
    }
    
    .topMenu_center a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}


