#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    text-align:right;
    background: #1C2833;
    color: orange;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2.5rem;            /* header height */
}

#topMenu {
    height: 30px;
    width: 850px;
    vertical-align: middle;
}
#topMenu ul li {
    list-style: none;
    color: white; 
    background-color: #2d2d2d;
    float: left; 
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}
#topMenu .menuLink {
    text-decoration:none;
    color: white;
    display: block;
    width: 150px;
    font-size: 20px;
    /*
    font-weight: bold;
    */
    font-family: "Trebuchet MS", Dotum, Arial;
}
#topMenu .menuLink:hover {
    color: red;
    background-color: #4d4d4d;
}
